{{#> email-base emailTitle="Has sido mencionado en un comentario"}}
<p>Hola {{userName}},</p>

<p><strong>{{mentionedBy}}</strong> te ha mencionado en un comentario del documento <strong>{{documentTitle}}</strong>.
</p>

<div class="info-box">
  <p>Para ver el comentario y responder, haz clic en el siguiente botón:</p>
</div>

<div class="button-container">
  <a href="{{documentUrl}}" class="button">Ver comentario</a>
</div>
{{/email-base}}