{{#> email-base emailTitle="¡Bienvenido a DocuSense!"}}
{{#content "body"}}
<p>Hola {{name}},</p>

<p>¡Bienvenido a DocuSense! Tu cuenta ha sido creada correctamente.</p>

<div class="info-box">
  <p><strong>Con DocuSense podrás:</strong></p>
  <ul>
    <li>Gestionar documentos de manera segura</li>
    <li>Firmar documentos digitalmente</li>
    <li>Compartir documentos con otros usuarios</li>
    <li>Comentar y colaborar en tiempo real</li>
  </ul>
</div>

<p>Para comenzar a utilizar todas las funcionalidades, haz clic en el siguiente botón:</p>

<div class="button-container">
  <a href="{{dashboardUrl}}" class="button">Acceder a DocuSense</a>
</div>
{{/content}}
{{/email-base}}